extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      //- we try to login cause we query form in js file and adding the event to login
      form.form.form--signup

        .form__group
          label.form__label(for='name') name
          input#name.form__input(type='text', placeholder='alexey', required)
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='PasswordConfirm') Confirm Password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Sign up